body{
    font-family: 'Roboto', sans-serif ;
}

form{
    margin: 0 auto;
    width: 500px;
    padding: 30px;
    border: 5px solid rgb(2, 148, 213);
    border-radius: 3px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.nombre label:hover{
    background: white;
    color: tomato;
}

form li + li{
    margin-top: 20px;
    color: black;
}
.nombre{
    color:black;
}

label {
    color: white;
    display: inline-block;
    width: 180px;
    text-align: right;
}
.button {
    padding-left: 225px;
}
.button1{
    padding-left: 400px;
}
div.button1 a:hover{
    background: white;
    color: gray;
}

.botones#boton-login{
    padding-left: 10px;
    margin-left: 240px;
    padding-right: 10px;
    margin-right: 1px;
}

.botones#boton-registrarse{
    padding-left: 10px;
    margin-left: 230px;
    padding-right: 10px;
    margin-right: 1px;
}

img#nvidia-logo{
    height: 120px;
    width: 200px;
    padding-left: 170px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.texto-blanco{
    color: white;
}

