*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}
p {
    margin-bottom: 20px;
}

header {
    background: black;
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left;
}
   
nav ul {
    list-style: none;
    overflow: hidden; 
}
   
nav ul li {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
   
nav ul li a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: rgb(2, 148, 213);
}

.contenido{
    padding: 50px;
}

h1{
    font-size: 55px;
}
/* Bookmark */
body {
    background-image:url("fondo.jpg") ;
    font-family: 'Times New Roman', Times, serif;
}
#tabla{
    margin: auto;
    width: 92%;
}
#tabla-labels{
    margin: auto;
    width: 90%;
    padding: 10px;
}
table{
    background-color: honeydew;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
th, td{
    padding: 20px;
}
thead{
    background-color: black;
    border-bottom: solid 5px gray;
    color: white;
}
tr:nth-child(even){
    background-color: gray;
}
tr:hover{
    background: rgb(2, 148, 213);
    color: white;
}
#bot{
    padding: 0px 0px 10px;
}
button{
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Crear Bookmark  */
.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
  
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
  
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
  
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
  
.form-register a {
    color: white;
    text-decoration: none;
}
  
.form-register a:hover {
    color: white;
    text-decoration: underline;
}
  
.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
/* descripcion bookmark */

#logo{
      width: 100px;
      height: 70px;
      top: 0px;
      border-radius: 20px;
}
#logo1{
    width: 640px;
    height: 300px;
    top: 0px;
}
